body {
  background-image: url("img/photoacc.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

header h1 {
  margin-left: 32%;
  margin-bottom: 10%;
  padding-bottom: 5%;
  padding-top: 10%;
  font-family: "Indie Flower", cursive;
  font-size: 56px;
  font-weight: bold;
  color: #ffd03b;
}

a {
  font-family: "Indie Flower", cursive;
}

.navbar-nav {
  margin-left: 10%;
}
li > a:link {
  font-size: 30px;
  font-weight: bold;
  color: #ffd03b;
}
li > a:visited {
  color: #ffd03b;
}
a:hover {
  transform: scale(1.2);
}
footer {
  background-color: #f6f6f6;
  text-align: center;
  opacity: 0.8;
  z-index: -1;
}
h6 {
  font-size: 18px;
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
}

i {
  margin: auto;
  padding: 1%;
  color: #ffd03b;
}
i:hover {
  transform: scale(1.2);
}
a:link {
  text-decoration: none;
}

.mentions {
  font-size: 10px;
  margin-top: 2%;
}

header h1 {
  font-size: 42px;
  margin-left: 35%;
  margin-bottom: 12%;
  padding-top: 10%;
}
li > a:link {
  font-size: 25px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .nav-item {
    margin-left: 4%;
  }

  header h1 {
    padding-top: 8%;
    margin-bottom: 10%;
    margin-left: 32%;
  }
  nav a img {
    width: 165px;
    height: 165px;
  }
  nav ul li > a:link {
    font-size: 22px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  nav ul li > a:link {
    font-size: 16px;
  }
  .navbar-collapse {
    margin-left: 50%;
    margin-top: 1%;
  }
  .navbar-toggler {
    margin-right: 10%;
  }
  .navbar-toggler-icon {
    background-color: #ffd03b;
    border-radius: 5px;
  }
  img {
    width: 120px;
    height: 120px;
  }
  header h1 {
    font-size: 35px;
    margin-left: 30%;
    margin-bottom: 15%;
    padding-top: 13%;
  }
  footer {
    height: 30vh;
  }
}
